/*!*****************************************************

Freak Flags, Copyright ©2022 Michael P. Cohen. Freak flags is licenced under the MIT licence.  

For complete information visit: www.freakflagsprite.com 

******************************************************/

.fflag:after {
	content: '';
   background-image:url(../img/flagSprite.png);
   background-repeat:no-repeat;
	background-size: 100% 49494%;
   display: inline-block;
   overflow: hidden;
   osition: relative;
   vertical-align: middle;
   box-sizing: content-box;
}
.fflag-CH:after,
.fflag-NP:after {box-shadow: none!important}
.fflag-DZ:after {background-position:center 0.2287%}
.fflag-AO:after {background-position:center 0.4524%}
.fflag-BJ:after {background-position:center 0.6721%}
.fflag-BW:after {background-position:center 0.8958%}
.fflag-BF:after {background-position:center 1.1162%}
.fflag-BI:after {background-position:center 1.3379%}
.fflag-CM:after {background-position:center 1.5589%}
.fflag-CV:after {background-position:center 1.7805%}
.fflag-CF:after {background-position:center 2.0047%}
.fflag-TD:after {background-position:center 2.2247%}
.fflag-CD:after {background-position:left 2.4467%}
.fflag-DJ:after {background-position:left 2.6674%}
.fflag-EG:after {background-position:center 2.8931%}
.fflag-GQ:after {background-position:center 3.1125%}
.fflag-ER:after {background-position:left 3.3325%}
.fflag-ET:after {background-position:center 3.5542%}
.fflag-GA:after {background-position:center 3.7759%}
.fflag-GM:after {background-position:center 4.0015%}
.fflag-GH:after {background-position:center 4.2229%}
.fflag-GN:after {background-position:center 4.441%}
.fflag-GW:after {background-position:left 4.66663%}
.fflag-CI:after {background-position:center 4.8844%}
.fflag-KE:after {background-position:center 5.1061%}
.fflag-LS:after {background-position:center 5.3298%}
.fflag-LR:after {background-position:left 5.5495%}
.fflag-LY:after {background-position:center 5.7712%}
.fflag-MG:after {background-position:center 5.994%}
.fflag-MW:after {background-position:center 6.2156%}
.fflag-ML:after {background-position:center 6.4363%}
.fflag-MR:after {background-position:center 6.658%}
.fflag-MU:after {background-position:center 6.8805%}
.fflag-YT:after {background-position:center 7.1038%}
.fflag-MA:after {background-position:center 7.3231%}
.fflag-MZ:after {background-position:left 7.5448%}
.fflag-NA:after {background-position:left 7.7661%}
.fflag-NE:after {background-position:center 7.98937%}
.fflag-NG:after {background-position:center 8.2099%}
.fflag-CG:after {background-position:center 8.4316%}
.fflag-RE:after {background-position:center 8.6533%}
.fflag-RW:after {background-position:right 8.875%}
.fflag-SH:after {background-position:center 9.0967%}
.fflag-ST:after {background-position:center 9.32237%}
.fflag-SN:after {background-position:center 9.5426%}
.fflag-SC:after {background-position:left 9.7628%}
.fflag-SL:after {background-position:center 9.9845%}
.fflag-SO:after {background-position:center 10.2052%}
.fflag-ZA:after {background-position:left 10.4269%}
.fflag-SS:after {background-position:left 10.6486%}
.fflag-SD:after {background-position:center 10.8703%}
.fflag-SR:after {background-position:center 11.0945%}
.fflag-SZ:after {background-position:center 11.3135%}
.fflag-TG:after {background-position:left 11.5354%}
.fflag-TN:after {background-position:center 11.7593%}
.fflag-UG:after {background-position:center 11.9799%}
.fflag-TZ:after {background-position:center 12.2005%}
.fflag-EH:after {background-position:center 12.4222%}
.fflag-YE:after {background-position:center 12.644%}
.fflag-ZM:after {background-position:center 12.8664%}
.fflag-ZW:after {background-position:left 13.0873%}
.fflag-AI:after {background-position:center 13.309%}
.fflag-AG:after {background-position:center 13.5307%}
.fflag-AR:after {background-position:center 13.7524%}
.fflag-AW:after {background-position:left 13.9741%}
.fflag-BS:after {background-position:left 14.1958%}
.fflag-BB:after {background-position:center 14.4175%}
.fflag-BQ:after {background-position:center 14.6415%}
.fflag-BZ:after {background-position:center 14.8609%}
.fflag-BM:after {background-position:center 15.0826%}
.fflag-BO:after {background-position:center 15.306%}
.fflag-VG:after {background-position:center 15.528%}
.fflag-BR:after {background-position:center 15.7496%}
.fflag-CA:after {background-position:center 15.9694%}
.fflag-KY:after {background-position:center 16.1911%}
.fflag-CL:after {background-position:left 16.4128%}
.fflag-CO:after {background-position:left 16.6345%}
.fflag-KM:after {background-position:center 16.8562%}
.fflag-CR:after {background-position:center 17.0779%}
.fflag-CU:after {background-position:left 17.2996%}
.fflag-CW:after {background-position:center 17.5213%}
.fflag-DM:after {background-position:center 17.743%}
.fflag-DO:after {background-position:center 17.968%}
.fflag-EC:after {background-position:center 18.1864%}
.fflag-SV:after {background-position:center 18.4081%}
.fflag-FK:after {background-position:center 18.6298%}
.fflag-GF:after {background-position:center 18.8515%}
.fflag-GL:after {background-position:left 19.0732%}
.fflag-GD:after {background-position:center 19.2987%}
.fflag-GP:after {background-position:center 19.518%}
.fflag-GT:after {background-position:center 19.7383%}
.fflag-GY:after {background-position:center 19.96%}
.fflag-HT:after {background-position:center 20.1817%}
.fflag-HN:after {background-position:center 20.4034%}
.fflag-JM:after {background-position:center 20.6241%}
.fflag-MQ:after {background-position:center 20.8468%}
.fflag-MX:after {background-position:center 21.0685%}
.fflag-MS:after {background-position:center 21.2902%}
.fflag-NI:after {background-position:center 21.5119%}
.fflag-PA:after {background-position:center 21.7336%}
.fflag-PY:after {background-position:center 21.9553%}
.fflag-PE:after {background-position:center 22.177%}
.fflag-PR:after {background-position:left 22.4002%}
.fflag-BL:after {background-position:center 22.6204%}
.fflag-KN:after {background-position:center 22.8421%}
.fflag-LC:after {background-position:center 23.0638%}
.fflag-PM:after {background-position:center 23.2855%}
.fflag-VC:after {background-position:center 23.5072%}
.fflag-SX:after {background-position:left 23.732%}
.fflag-TT:after {background-position:center 23.9506%}
.fflag-TC:after {background-position:center 24.1723%}
.fflag-US:after {background-position:center 24.394%}
.fflag-VI:after {background-position:center 24.6157%}
.fflag-UY:after {background-position:left 24.8374%}
.fflag-VE:after {background-position:center 25.0591%}
.fflag-AB:after {background-position:center 25.279%}
.fflag-AF:after {background-position:center 25.5025%}
.fflag-AZ:after {background-position:center 25.7242%}
.fflag-BD:after {background-position:center 25.9459%}
.fflag-BT:after {background-position:center 26.1676%}
.fflag-BN:after {background-position:center 26.3885%}
.fflag-KH:after {background-position:center 26.611%}
.fflag-CN:after {background-position:left 26.8327%}
.fflag-GE:after {background-position:center 27.0544%}
.fflag-HK:after {background-position:center 27.2761%}
.fflag-IN:after {background-position:center 27.4978%}
.fflag-ID:after {background-position:center 27.7195%}
.fflag-JP:after {background-position:center 27.9412%}
.fflag-KZ:after {background-position:center 28.1615%}
.fflag-LA:after {background-position:center 28.3846%}
.fflag-MO:after {background-position:center 28.6063%}
.fflag-MY:after {background-position:center 28.829%}
.fflag-MV:after {background-position:center 29.0497%}
.fflag-MN:after {background-position:left 29.2714%}
.fflag-MM:after {background-position:center 29.4931%}
.fflag-NP:after {background-position:left 29.7148%}
.fflag-KP:after {background-position:left 29.9365%}
.fflag-MP:after {background-position:center 30.1582%}
.fflag-PW:after {background-position:center 30.3799%}
.fflag-PG:after {background-position:center 30.6016%}
.fflag-PH:after {background-position:left 30.8233%}
.fflag-SG:after {background-position:left 31.045%}
.fflag-KR:after {background-position:center 31.2667%}
.fflag-LK:after {background-position:right 31.4884%}
.fflag-TW:after {background-position:left 31.7101%}
.fflag-TJ:after {background-position:center 31.9318%}
.fflag-TH:after {background-position:center 32.1535%}
.fflag-TL:after {background-position:left 32.3752%}
.fflag-TM:after {background-position:center 32.5969%}
.fflag-VN:after {background-position:center 32.8186%}
.fflag-AL:after {background-position:center 33.0403%}
.fflag-AD:after {background-position:center 33.25975%}
.fflag-AM:after {background-position:center 33.4837%}
.fflag-AT:after {background-position:center 33.7054%}
.fflag-BY:after {background-position:left 33.9271%}
.fflag-BE:after {background-position:center 34.1488%}
.fflag-BA:after {background-position:center 34.3705%}
.fflag-BG:after {background-position:center 34.5922%}
.fflag-HR:after {background-position:center 34.8139%}
.fflag-CY:after {background-position:center 35.0356%}
.fflag-CZ:after {background-position:left 35.2555%}
.fflag-DK:after {background-position:center 35.479%}
.fflag-EE:after {background-position:center 35.7007%}
.fflag-FO:after {background-position:center 35.9224%}
.fflag-FI:after {background-position:center 36.1441%}
.fflag-FR:after {background-position:center 36.3658%}
.fflag-DE:after {background-position:center 36.5875%}
.fflag-GI:after {background-position:center 36.8092%}
.fflag-GR:after {background-position:left 37.0309%}
.fflag-HU:after {background-position:center 37.2526%}
.fflag-IS:after {background-position:center 37.4743%}
.fflag-IE:after {background-position:center 37.696%}
.fflag-IM:after {background-position:center 37.9177%}
.fflag-IT:after {background-position:center 38.1394%}
.fflag-JE:after {background-position:center 38.3611%}
.fflag-XK:after {background-position:center 38.5828%}
.fflag-LV:after {background-position:center 38.8045%}
.fflag-LI:after {background-position:left 39.0262%}
.fflag-LT:after {background-position:center 39.2479%}
.fflag-LU:after {background-position:center 39.4696%}
.fflag-MT:after {background-position:left 39.6913%}
.fflag-MD:after {background-position:center 39.913%}
.fflag-MC:after {background-position:center 40.1347%}
.fflag-ME:after {background-position:center 40.3564%}
.fflag-NL:after {background-position:center 40.5781%}
.fflag-MK:after {background-position:center 40.7998%}
.fflag-NO:after {background-position:center 41.0215%}
.fflag-PL:after {background-position:center 41.2432%}
.fflag-PT:after {background-position:center 41.4649%}
.fflag-RO:after {background-position:center 41.6866%}
.fflag-RU:after {background-position:center 41.9083%}
.fflag-SM:after {background-position:center 42.13%}
.fflag-RS:after {background-position:center 42.3517%}
.fflag-SK:after {background-position:center 42.5734%}
.fflag-SI:after {background-position:center 42.7951%}
.fflag-ES:after {background-position:left 43.0168%}
.fflag-SE:after {background-position:center 43.2385%}
.fflag-CH:after {background-position:center 43.4602%}
.fflag-TR:after {background-position:center 43.6819%}
.fflag-UA:after {background-position:center 43.9036%}
.fflag-GB:after {background-position:center 44.1253%}
.fflag-VA:after {background-position:right 44.347%}
.fflag-BH:after {background-position:center 44.5687%}
.fflag-IR:after {background-position:center 44.7904%}
.fflag-IQ:after {background-position:center 45.0121%}
.fflag-IL:after {background-position:center 45.2338%}
.fflag-KW:after {background-position:left 45.4555%}
.fflag-JO:after {background-position:left 45.6772%}
.fflag-KG:after {background-position:center 45.897%}
.fflag-LB:after {background-position:center 46.1206%}
.fflag-OM:after {background-position:left 46.3423%}
.fflag-PK:after {background-position:center 46.561%}
.fflag-PS:after {background-position:center 46.7857%}
.fflag-QA:after {background-position:center 47.0074%}
.fflag-SA:after {background-position:center 47.2291%}
.fflag-SY:after {background-position:center 47.4508%}
.fflag-AE:after {background-position:center 47.6725%}
.fflag-UZ:after {background-position:left 47.8942%}
.fflag-AS:after {background-position:right 48.1159%}
.fflag-AU:after {background-position:center 48.3376%}
.fflag-CX:after {background-position:center 48.5593%}
.fflag-CC:after {background-position:center 48.781%}
.fflag-CK:after {background-position:center 49.002%}
.fflag-FJ:after {background-position:center 49.2244%}
.fflag-PF:after {background-position:center 49.4445%}
.fflag-GU:after {background-position:center 49.6678%}
.fflag-KI:after {background-position:center 49.8895%}
.fflag-MH:after {background-position:left 50.1112%}
.fflag-FM:after {background-position:center 50.3329%}
.fflag-NC:after {background-position:center 50.5546%}
.fflag-NZ:after {background-position:center 50.7763%}
.fflag-NR:after {background-position:left 50.998%}
.fflag-NU:after {background-position:center 51.2197%}
.fflag-NF:after {background-position:center 51.4414%}
.fflag-WS:after {background-position:left 51.6631%}
.fflag-SB:after {background-position:left 51.8848%}
.fflag-TK:after {background-position:center 52.1065%}
.fflag-TO:after {background-position:left 52.3282%}
.fflag-TV:after {background-position:center 52.5499%}
.fflag-VU:after {background-position:left 52.7716%}
.fflag-WF:after {background-position:center 52.9933%}

.fflag.ff-sm {width: 18px;height: 11px}
.fflag.ff-md {width: 27px;height: 17px}
.fflag.ff-lg {width: 42px;height: 27px}
.fflag.ff-xl {width: 60px;height: 37px}
