.requirements {
	background-color: darken($mainColor, 7%);

	&__container {
		@include adaptiveValue("padding-top", 40, 30);
		@include adaptiveValue("padding-bottom", 30, 20);
	}

	&__body {
	}

	&__title {
	}

	&__requirements {
		color: #000;
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.55;
		
		counter-reset: ol-numbers;		
	}

	&__requirement {
		position: relative;
		
		padding-left: em(3);

		&::before{
			counter-increment: ol-numbers;
			content: counter(ol-numbers)'. ';
			font-weight: 600;
		}
	}
}