.side-header {
	position: relative;

		height: rem(260);

		&__bg {	
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;		
			height: 100%;
			img{
				object-position: bottom;
			}			
		}

		&__shirt {
			width: 180px;
			position: absolute;
			bottom: rem(-100);
			left: 50%;
			transform: translate(-50%);
			display: flex;
			align-items: center;
			justify-content: center;

			img{
				width: 100%;
			}

			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				image-rendering: -webkit-optimize-contrast;
				background-image: url('../img/logo2.png');
				background-size: 36%;
				background-repeat: no-repeat;
				background-position: center 45%;
			}
		}
}